@import 'c/sharedStyles';

:host {
  --detail-background-color: #f3f3f3;
}

.details-expander-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

/* Detail section styles */
.detail-container {
  background-color: var(--default-background-color, white);
  padding: 1rem;
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.detail-expander {
    background-color: var(--default-background-color, white);
    transition: var(--hover-transition);
    margin: 0;
}

.detail-expander.open {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0;
}

.detail-expander:hover {
    background-color: var(--hover-color, gray);
}

.slds-section__title .slds-button.slds-section__title-action {
  width: 100%;
  text-align: left;
}

.rich-content {
  /* allow rich text to wrap nicely */
  word-wrap: break-word;
}

.action-buttons-row {
  display: flex;
  flex-direction: row;
  gap: var(--common-padding);
}