@import 'c/sharedStyles';

:host {
  --detail-background-color: #f3f3f3;
}

/* Detail section styles */
.detail-container {
  background-color: var(--default-background-color, white);
  padding: 1rem;
}

.detail-expander {
    background-color: var(--default-background-color, white);
    transition: var(--hover-transition);
}

.detail-expander:hover {
    background-color: var(--hover-color, gray);
}

.slds-section__title .slds-button.slds-section__title-action {
  width: 100%;
  text-align: left;
}

.chev {
  transition: transform 0.2s ease-in-out;
}

.chev.rotate {
  transform: rotate(-180deg);
}

.rich-content {
  /* allow rich text to wrap nicely */
  word-wrap: break-word;
}
