:host {
  --potential-color: #b4d1de;
  --lead-color: #1894c9;
  --account-color: #72c779;
  --opportunity-color: #c9b4de;
  --todo-color: #efe183;

  --button-border-color: #16325c;

  --border-color: #ebebeb;

  --hover-color: #f3f3f3;

  --default-background-color: #ffffff;

  --hover-transition-speed: 0.1s;
  --hover-transition-timing-function: ease-in-out;

  --hover-transition: background-color var(--hover-transition-speed) var(--hover-transition-timing-function);

  --common-padding: 0.5rem;
}

.round-border {
  border: 2px solid var(--border-color);
  border-radius: 1rem;
}

.chev {
  transform: rotate(-90deg);
  transition: transform 0.1s ease-in-out;
}

.chev.rotate {
  transform: rotate(0deg);
}